body {
    background-image: url('https://media2.giphy.com/media/XmIr0nHZ5kERXloYIM/giphy.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
